@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);
body {
  background: linear-gradient(360deg, #2C2C5C 0%, #fff 100%);}

@keyframes myAnim {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: #f7f7f7;
  animation: myAnim 2s ease 0s 1 normal forwards;
}

.hero .carousel .slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

section {
  padding: 30px 0;
  position: relative;
}



.professor-and-career-guide {
  background-color: none;
  border: none;
  color: #f7f7f7;
}

.courses-and-events {
  background-color: none;
  color: #f7f7f7;
  border: none;

}
